@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
@import url(variables.css);
@import url(blocks/top-nav.css);
@import url(blocks/customization.css);
@import url(blocks/listings.css);
@import url(blocks/action.css);
@import url(blocks/footer.css);


html,
body {
    box-sizing: border-box;
    margin: 0;
    font-weight: 400;

}
p {
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a:any-link {
    text-decoration: none;
}

select {
    letter-spacing: inherit;
    word-spacing: inherit;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 20px;
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
}

select:not([multiple]) {
    padding-right: 1.2em;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.1em) 0.25em;
    background-size: 0.85em auto;
    background-color: inherit;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3E%3Cpath d='M70.3 13.8L40 66.3 9.7 13.8z' fill='%23000'%3E%3C/path%3E%3C/svg%3E");
}

select:active,
select:focus {
    outline: none;
}

.container {
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;
}

.header {
    border-bottom: #EBE8F4 solid 1px;
}
.footer.container {
    background-color: var(--Dark-Primary);
    padding-top: 60px;
    max-width: 1440px;
    margin: 0 auto;
}