.action {
    max-width: 1440px;
    height: 521px;
    margin: 40px auto 0px;
    background: no-repeat url(../../img/join-background.jpg) 0 0 / 50% ;
}


.action__info {
    min-height: 100%;
    margin-left: calc(50%);
    display: flex;
    flex-direction: column;
    padding: 70px 50px;
    justify-content: space-between;
    align-items:flex-start;
}
.action__title {
    color: var(--Dark-Primary);
    font-family: Montserrat;
    font-size: 32px;
    margin: 0;
}

.action__descr {
    color: var(--Dark-Primary);
    font-family: Open Sans;
    font-size: 16px;
    margin-top: 21px;
    max-width: 470px;
}

.action__button {
    padding: 16px 32px;
    display: block;
    width: fit-content;
    margin-left: 72px;
    background-color: var(--Dark-Primary);
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    border: none;
}
