.customization {
    padding-top: 80px;
}

.customization__title {
    color: var(--Dark-Primary);
    font-family: Montserrat;
    font-size: 36px;
    line-height: 140%; 
    margin: 0 auto;
    text-align: center;
}
.customization__options {
    margin: 8px 24px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customization__filters {
    display: flex;
    align-items: center;
    gap: 12px;
}

.customization__filters .filters__item , 
.sorting__item {
    margin: 12px 24px;
}

.customization__filters .filters__item label {
    color: var(--Dark-Primary);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
}

.customization__sorting  label {
    color: var(--Dark-Primary);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}
.customization__sorting {
    display: flex;
    align-items: center;
    gap: 16px;
}