.footer__wrapper,
.footer__bottom,
.footer__social {
    display: flex;
    justify-content: space-between;
}

.footer__wrapper {
    align-items: flex-start;
    padding-bottom: 50px;
}

.footer__bottom,
.footer__social {
    align-items: center;
}

.footer__bottom {
    padding: 22px 0 22px 0;
}

.footer__wrapper {
    border-bottom: #4E4D93 solid 1px;
}

.footer__linkcolumn-title {
    margin: 0;
    color: var(--White);
    font-family: Montserrat;
    font-size: 16px;

}

.footer__link {
    font-family: Open Sans;
    font-size: 14px;
    margin-top: 12px;
}
.footer__link a {
    color: var(--White);
}

.footer__copyright {
    color: var(--White);
    font-family: Open Sans;
    font-size: 14px;
}

.footer__social {
    gap: 24px;
}


.footer__map {
    width: 642px;
    height: 195px;
}

.footer__social-icon {
    display: block;
    height: 24px;
    width: 24px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.linkedin {
    background-image: url("../../img/logo--linkedin.svg");
}
.facebook {
    background-image: url("../../img/logo--facebook.svg");
}
.instagram {
    background-image: url("../../img/logo--instagram.svg");
}
.skype {
    background-image: url("../../img/logo--skype.svg");
}
.twitter {
    background-image: url("../../img/logo--twitter.svg");
}
.pinterest {
    background-image: url("../../img/logo--pinterest.svg");

}