.listings {
    display: grid;
    margin: 28px auto 0px auto;
    grid-template: minmax(462px, auto) / repeat(4, 305px);
    row-gap: 48px;
    column-gap: 20px;
    grid-auto-rows: minmax(462px, auto);
    justify-content: center;
}
.product-card__descr {
    display: block;
    margin-top: 24px;
    color: var(--Dark-Primary);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
}
.product-card__price {
    display: block;
    margin-top: 8px;
    color: var(--Dark-Primary);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.product-card__photo {
    display: block;
    width: 305px;
    height: 375px;
    object-fit: cover;
}

/* .product-card__photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.main__button {
    display: block;
    width: fit-content;
    padding: 16px 32px;
    margin: 46px auto 0 auto;
    border: none;
    background-color:#F9F9F9;
    color: var(--Dark-Primary);
    font-family: Open Sans;
    font-size: 16px;
}
