.top-nav,
.top-nav__menu,
.top-nav__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__line {
    position: absolute;
    background-color: #EBE8F4;
    width: 100vw;
    height: 1px;
    left: 0;
}

.top-nav {
    position: relative;
    height: 80px;
}

.top-nav::after {
    content: "";
    position: absolute;
    width: 100vw;
    background-color: #EBE8F4;
    height: 1px;
    left: calc((100vw - 100%) / 2 * -1);
    top: 80px;
}

.top-nav__logo {
    display: block;
    width: fit-content;
    color: var(--Dark-Primary);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
}

.top-nav__menu {
    gap: 44px;
}

.top-nav__menu a {
    color: #726E8D;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
}

.top-nav__icons {
    gap: 16px;

}

.top-nav__icon {
    display: block;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.top-nav__icons a.search-icon {
    background-image: url(../../img/search.svg);
}

.top-nav__icons a.cart-icon {
    background-image: url(../../img/shopping--cart.svg);
}

.top-nav__icons a.profile-icon {
    background-image: url(../../img/user--avatar.svg);
}
